@font-face {
  font-family: 'Avenir'; /* Replace with your desired font family name */
  src: local('CustomFont'),
       url("C:\MOVIES\ChandraBuilder\avenir-font\AvenirLTStd-Black.otf") format('woff2'),
       url("C:\MOVIES\ChandraBuilder\avenir-font\AvenirLTStd-Black.otf") format('woff');
  font-style: light;
  
}


.main-product-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1510px;
}

.product-page-first-head {
  font-family: 'Avenir';
  font-style: light;
  font-size: px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}


.products-page-first-para {
  font-family: 'Avenir';
  font-style: light;
  font-size: 14px;
  text-align: center;
  color: #000000;
}


.hr-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
  width: 60%;
}


.hr-line {
  height: 0px;
  align-self: center;
  border: 1px solid #000000;
 
}

.card-container-and-values-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-start;
 
  margin-top: 50px;
}


.jordan-img {
  width: 300px;
  padding: 30px;
}

.option-img {
  width: 400px;
  height: 400px;
}


.value-head {
  font-family: 'Avenir';
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 48px;
  color: #000000;
}

.values-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-start;
}


.week-button {
  border: 1px solid #000000;
  height: 30px;
  width: 200px;
  background-color: transparent;
  font-family: 'Avenir';
}


.week-button-se {
  border: 1px solid #000000;
  height: 30px;
  width: 100px;
  background-color: transparent;
  font-family: 'Avenir';
}

.style-cont {
  display: flex;
  align-items: center;
  justify-content: center;
}

.style-num {
  font-family: 'Avenir';
  font-style: normal;
  font-size: 16px;
  color: #000000;
}

.quantity {
  font-family: 'Avenir';
  font-style: normal;
  font-size: 16px;
  color: #000000;
}

.input-container {
  margin-bottom: 20px;
}

.color-button-img {
  width: 120px;
}

.qua {
  width: 100px;
  height: 30px;
}

.week-button-type {
  border: 1px solid #000000;
  height: 30px;
  width: 250px;
  background-color: transparent;
  font-family: 'Avenir';
}

.style-cont-name {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F6F3EE;
  height: 50px;
  border-radius: 5px;

}

.name-input {
  width: 90px;
  margin-left: 10px;
  margin-right: 10px;
  outline: none;
  background-color: #F6F3EE;
}



.our-process-and-guarentee-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.our-process-card {
  width: 80%;
  background-color: #F6F3EE;
  padding-left: 40px;
  height: 380px;
  display: flex;
  flex-direction: column;
  margin: 50px;
  border-radius: 10px;
}

.process-guarentee-head {
  font-family: 'Avenir', sans-serif; /* Use single quotes around font name */
  font-weight: lighter; /* Use font-weight property instead of font-style for light */
  font-size: 22px;
  letter-spacing: 0.03em;
  color: #000000;
  margin-top: 40px;
  text-align: left;
}

.process-hr-line {
  width: 120px;
  height: 1px;


}


.process-guarentee-para {
  font-family: 'Avenir';
  font-style: italic;
  font-size: 14px;
  line-height: 160%;
  /* or 25px */
  text-transform: capitalize;
  margin-top: 50px;
  margin-bottom: 50px;
  color: #000000;
  text-align: left;
}

.process-button {
  width: 130px;
}

.guarentee-para {
  font-family: 'Avenir';
  font-style: italic;
  font-size: 14px;
  /* or 25px */
  letter-spacing: 0.03em;
  text-transform: capitalize;
  color: #000000;
  margin-left: 20px;


}

.guarentee-para-last {
  font-family: 'Avenir';
  font-style: normal;
  font-size: 14px;
  /* or 25px */
  letter-spacing: 0.03em;
  text-transform: capitalize;
  color: #000000;
  text-align: left;
}

.diamond-para-conta {
  display: flex;
  align-items: center;
}

.ledies-container {
  width: 90%;

}



.contact-us-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-from-container {
  width: 90%;
  background-color: #F6F3EE;
  margin-top: 30px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: center;
}

.contact-form {
  width: 100%;
  max-width: 700px;
  padding: 32px;
  background-color: #F6F3EE;
  margin: 20px auto;
}

.contact-form h2 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.input-group {
  margin-bottom: 20px;
}

.input-group label {
  font-weight: bold;
  margin-bottom: 5px;
}

.input-group input,
.input-group textarea {
  width: 40%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  font-family: 'Avenir';
}

.send-button {
  width: 40%;
  padding: 15px;
  border: none;
  background-color: #000;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
}

.send-button:hover {
  background-color: #333;
}

/* Media queries for responsiveness */

/* Tablet view */
@media (max-width: 1024px) {
  .contact-form {
      padding: 20px;
  }

  .contact-form h2 {
      font-size: 20px;
  }
}

/* Mobile view */
@media (max-width: 768px) {
  .contact-form {
      padding: 15px;
  }

  .contact-form h2 {
      font-size: 18px;
  }
}


.footer-container-one {
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #EAE3D9;
  font-family: 'Avenir';
  font-size: 16px;
  margin-top: -3px;

}


.mai-and-phone-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.main-mai-and-phone-container {
  margin-right: 60px;
}

.home-and-product-container {
  margin-left: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mail-form {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.mail-input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
  width: 250px;
}

.subscribe-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.subscribe-button:hover {
  background-color: #444;
}


.footer-container-second {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-start;
  font-family: 'Avenir';
  font-size: 16px;
}

.contact-us-container-new {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.hr-last-line {
  width: 97%;
  margin-top: 40px;
}

.display-img-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.display-img{
  width: 250px;
  margin: 20px;
}

.first-block-img{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 1024px) {
  .product-page-first-head {
      /* Personalized Jewelry */
    font-family: 'Avenir';
    font-style: light;
    
    font-size: 20px;
    line-height: 41px;
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.31em;
    text-transform: uppercase;
    font-size: 20px;
    color: #000000;
  }


  .main-product-page{
    margin-top: 60px;
  }

  .products-page-first-para {
      line-height: 125.23%;
      text-align: center;
      letter-spacing: 0.10em;
      color: #000000;
      margin-bottom: 60px;

}

.hr-container {
 margin-bottom: 60px;
}

  .card-container-and-values-container {
      display: flex;
      flex-direction: row;

  }

  .result-and-input-container {
      display: flex;
      flex-direction: row;
      margin-top: 30px;
  }

  .values-container {
      margin-left: 50px;
  }

  .result-img-container {
      margin-left: 50px;
  }

  .main-body {
      display: flex;
      flex-direction: column;
      justify-content: center;
  }

  .our-process-and-guarentee-container {
      display: flex;
      flex-direction: row;
      width: 85%;
      margin-bottom: 60px;
  }


  .our-process-card {
      width: 100%;
      padding-top: 30px;
      padding-bottom: 30px;
  }

  .process-guarentee-head {
      font-size: 23px;
  }

  .contact-us-container {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
  }

  .ledies-img {
      height: 520px;
  }


  .contact-from-container {
      height: 520px;
      padding-left: 50px;
      margin-top: -3px;

  }

  .home-product-adjust {
      display: flex;
      flex-direction: row;
      align-items: center;

  }

  .main-mai-and-phone-container {
      display: flex;
      flex-direction: row;
      align-items: center;
  }

  

  .phone {
      margin-right: 20px;
  }

  .footer-container-second {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
  }

  .subscribe-container {
      margin-left: 30px;
    
  }

  .our-address-container{
    margin-top: -30px;
  }

  .sub-head{
    font-family: 'Avenir';
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 25px;
  }

  .social-media-container {
      margin-right: 30px;
  }

  .jordan-img {
      width: 250px;
      padding: 10px;
  }

  .hr-last-line {
      width: 95%;
      margin-top: 40px;
  }

  .display-img{
    width: 300px;
    margin-right: 80px;
  }
  
  .first-block-img{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .display-img-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  .display-img{
    width: 300px;
    margin: 60px;
  }
  
  .first-block-img{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .process-guarentee-para {
    font-family: 'Avenir';
    font-style: italic;
    font-size: 14px;
    line-height: 160%;
    /* or 25px */
    text-transform: capitalize;
    margin-top: 50px;
    margin-bottom: 50px;
    color: #000000;
    text-align: left;
    letter-spacing: 0.06em;
  }

  .diamond-para-conta {
    display: flex;
    align-items: center;
    margin-top: -5px;
    margin-bottom: -5px;
  }

  .gau {
    margin-bottom: 50px;  
  }

  .last {
   font-style: normal;
  }

  .ledies-container {
    width: 90%;
  
  }
  
  .ledies-img {
    width: 100%;
  }
  
.info{
  margin-top: -2px;
}

.contactUs{
  margin-top: -10px;
}

}


.arrow-img{
width: 12px;
margin-left: 7px;


}



.guarentee-para-last{
  font-size: 14px;
  margin-top: 40px;

}


.term-and-condition {
  width: 95%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-top: 30px;
  font-size: 16px;
  font-family: 'Avenir';
}


.from-name-input{
  margin-bottom: 10px;
  background-color: transparent;
  outline: none;
 border-bottom: 1px solid black;
}


.from-email-input{
  width: 120px;
}

.input-group{
  display: flex;
  flex-direction: row;
}

